@mixin fontFace($name, $file, $weight: normal) {
    $path: '../../assets/fonts/' + $file;
    @font-face {
        font-family: $name;
        src: url($path + '.ttf') format('ttf');
        font-weight: $weight;
    }
}
