$containerDimentions: 30px;
$shapeDimentions: 12px;
$amount: 18px;

.loading {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__content {
    position: relative;
    width: $containerDimentions;
    height: $containerDimentions;
    animation: rotation 1s infinite;
    .shape {
      position: absolute;
      width: $shapeDimentions;
      height: $shapeDimentions;
      border-radius: 2px;
      &.shape {
        &-1 {
          left: 0;
          background-color: #4285f4;
        }
        &-2 {
          right: 0;
          background-color: #34a853;
        }
        &-3 {
          bottom: 0;
          background-color: #ea4335;
        }
        &-4 {
          bottom: 0;
          right: 0;
          background-color: #fbbc05;
        }
      }
    }
    @for $i from 1 through 4 {
      .shape-#{$i} {
        animation: shape#{$i} 2s linear infinite;
      }
    }
  }
  p {
    padding-top: 110px;
    display: block;
    font-family: "Fira Code iScript";
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    margin-left: -50px;
    animation: colorLoading 1s infinite;
  }
}

@mixin customTranslate($shape, $tx, $ty) {
  @if $shape == 1 {
    transform: translate($tx, $ty);
  } @else if $shape == 2 {
    transform: translate(-$ty, $tx);
  } @else if $shape == 3 {
    transform: translate($ty, -$tx);
  } @else if $shape == 4 {
    transform: translate(-$tx, -$ty);
  }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes colorLoading {
  25% { color: #4285f4; }
  50% { color: #34a853; }
  75% { color: #ea4335; }
  100% { color: #fbbc05; }
}

@for $i from 1 through 4 {
  @keyframes shape#{$i} {
    0% { transform: translate(0, 0); }
    25% {
      @include customTranslate($i, 0, $amount);
    }
    50% {
      @include customTranslate($i, $amount, $amount);
    }
    75% {
      @include customTranslate($i, $amount, 0);
    }
  }
}